/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family: "Inter-Variable", sans-serif;
  --accent-font-family: "Press Start 2P", fantasy;
  --regular-wight: 400;
  --bold-wight: 700;
  --bg-color: #fff;
  --main-color: #000;
  --accent-color: #000;
  --heart-filling-color: red;
  --gradient-color: #d3d3d3;
  --gradient-color-white: #e7e7e7;
  --gradient-color-black: #1a1a1a;
  --blend-content-color: var(--bg-color);
}
